.clip-d20 {
    clip-path: polygon(50% 0%,
            85% 20%,
            100% 50%,
            85% 80%,
            50% 100%,
            15% 80%,
            0% 50%,
            15% 20%);
}

@keyframes roll {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.roll-animation {
    animation: roll 0.6s ease-in-out;
}