* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

section {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.9s cubic-bezier(.22, 1, .36, 1);
}

section.active {
    opacity: 1;
    transform: translateY(0);
}